

body,html{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    text-align: center;
}

.App{
    min-height: 100vh;
    display: flex;
    flex: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.contenedor-principal{
    min-height: 600px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}